@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'zekton-rg';
  src: url('/fonts/zekton-rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'zekton-rg';
}


